@using VideoTravel.Models.Enum
@model VideoTravel.Models.Post.Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>

<h4>Пост</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Article" class="control-label"></label>
                <input asp-for="Article" class="form-control"/>
                <span asp-validation-for="Article" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="VideoUrl" class="control-label"></label>
                <input asp-for="VideoUrl" class="form-control"/>
                <span asp-validation-for="VideoUrl" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="VideoId" class="control-label"></label>
                <input asp-for="VideoId" class="form-control"/>
                <span asp-validation-for="VideoId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="VideoType" class="control-label"></label>
                <select asp-for="VideoType"
                        class="form-select"
                        asp-items="Html.GetEnumSelectList<VideoType>()">
                </select>
                <span asp-validation-for="VideoType" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SubCategoryId" class="control-label"></label>
                <select asp-for="SubCategoryId" class="form-control" asp-items="ViewBag.SubCategoryId"></select>
                <span asp-validation-for="SubCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control"/>
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control"/>
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control"/>
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>